.main{
    height: 500px;
    width: 500px;
    background-color: white;
    position: relative;
    left: 400px;
    top: 100px;
    
}
 body{
    background-color: brown;
 }
 .login{
    padding: 10px 20px;

 }
 .input{
    height: 40px;
    width: 100px;
    padding: 20px;
    margin: 10px 40px;

 }
 .input input{
    height: 40px;
    width: 350px;
    border: 2px;
    border-bottom: 2px solid black;
 }
 .input2 input{
    height: 40px;
    width: 350px;
    border: 2px;
    border-bottom: 2px solid black;
 }
 .input2{
    height: 40px;
    width: 100px;
    padding: 20px;
    margin: 10px 40px;

 }
 .main h2{
    text-align: center;
 }
 .button{
   height: 50px;
   width: 20px;
   padding:  20px;
   display: inline-flex;
    
   
 }
 .button button{
   height: 45px;
   width: 400px;
   background-color: grey;
   padding: 10px 30px;
   position: relative;
   left: 120px;
   top: 40px;
   color: white;



 }

   
 
 

